.serviceTeaser {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Frank Ruhl Libre", serif;
    gap: 20px;
    color: #181818;
}

.serviceH2 {
    
    font-weight: 400;
    font-size: 40px;
}
.serviceH1 {
    font-weight: 500;
    font-size: 40px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
}